.featured-items {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) and (max-width: 849px) {
  .body, .header, .main, .hero-container, .featured-items, .featured, .featured-img, .featured-item-header, .featured-text {
    /* Yellow */
    /* background-color: #e6e627e6; */
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 850px) {
  .item-one {
    order: 1;
    width: 33.33%;
  }
  .item-two {
    order: 2;
    width: 33.33%;
  }
  .item-three {
    order: 3;
    width: 33.33%;
  }
  .featured-img {
    height: 150px;
  }
  .body, .header, .main, .hero-container, .hero-img {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    /* Blue */
    /* background-color: #0e60b7db; */
    height: auto;
  }
  /* .featured-item-header, .featured-text { */
  /* Blue */
  /* background-color: #0e60b7db; */
  /* } */
}
