.featured-items {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) and (max-width: 849px) {
  .body,
  .header,
  .main,
  .hero-container,
  .featured-items,
  .featured,
  .featured-img,
  .featured-item-header,
  .featured-text {
    max-width: 100%;
    height: auto;
  }

  .item-one {
    order: 1;
    width: 50%;
  }

  .item-two {
    order: 2;
    width: 50%;
  }

  .item-three {
    order: 3;
    width: 50%;
  }
}

@media screen and (min-width: 850px) {
  .item-one {
    order: 1;
    width: 33.33%;
  }

  .item-two {
    order: 2;
    width: 33.33%;
  }

  .item-three {
    order: 3;
    width: 33.33%;
  }

  .body,
  .header,
  .main,
  .hero-container,
  .hero-img {
    width: 850px;
    /* top/bottom | left/right */
    margin: 0 auto;
    height: auto;

  }
}
